<h1>Création d'un nouvel utilisateur</h1>
<div>
  <form (ngSubmit)="save()" [formGroup]="form">
    <!-- SAISIE MAIL -->
    <div class="form-group">
      <label>Mail :</label>
      <input type="email" class="form-control" formControlName="mail" />
      <div
        class="alert alert-danger"
        *ngIf="form.controls['mail'].dirty && form.controls['mail'].invalid"
      >
        <span *ngIf="form.controls['mail'].hasError('required')"
          >mail obligatoire</span
        >
        <span *ngIf="form.controls['mail'].hasError('email')"
          >veuillez saisir un mail valide</span
        >
        <span *ngIf="form.controls['mail'].hasError('mailAlreadyUsed')"
          >Oups, ce mail est deja utilisé !
        </span>
      </div>

      <!-- SAISIE LOGIN -->

      <label>Login :</label>
      <input class="form-control" formControlName="login" />
      <div
        class="alert alert-danger"
        *ngIf="form.controls['login'].dirty && form.controls['login'].invalid"
      >
        <span *ngIf="form.controls['login'].hasError('required')"
          >login obligatoire</span
        >
        <span *ngIf="form.controls['login'].hasError('minlength')"
          >le login doit faire 3 caracteres minimum</span
        >
        <span *ngIf="form.controls['login'].hasError('maxlength')"
          >le login ne doit pas faire plus de 255 caracteres</span
        >
        <span *ngIf="form.controls['login'].hasError('loginAlreadyUsed')"
          >Oups, ce login est deja utilisé !
        </span>
      </div>

      <!-- SAISIE PASSWORD GROUP -->
    </div>
    <ng-container formGroupName="passwordGrp">
      <div class="form-group">
        <label>Mot de passe :</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            form.get('passwordGrp')?.get('password')?.dirty &&
            form.get('passwordGrp')?.get('password')?.invalid
          "
        >
          <span>{{ errorPassword }}</span>
        </div>
      </div>
      <div class="form-group">
        <label>Confirmation du mot de passe :</label>
        <input type="password" class="form-control" formControlName="confirm" />
        <div
          class="alert alert-danger"
          *ngIf="
            form.controls['passwordGrp'].dirty &&
            form.controls['passwordGrp'].invalid
          "
        >
          <span>Oups, les deux mots de passe ne sont pas identiques</span>
        </div>
      </div>
    </ng-container>

    <!-- CHOIX ROLES -->
    <div
      class="form-group form-check form-check-inline"
      *ngFor="let role of roles | keyvalue"
    >
      <input
        class="form-check-input"
        [value]="role.value"
        type="checkbox"
        (change)="onCheckChange($event)"
        id="role"
      />
      <label class="form-check-label" for="role">{{ role.key }}</label>
    </div>

    <!-- BOUTON ENREGISTRER -->

    <div class="from-group">
      <button
        type="submit"
        class="btn btn-outline-success"
        [disabled]="form.invalid"
      >
        Enregistrer
      </button>
      <a routerLink="/accueil" class="btn btn-link">Annuler</a>
    </div>
  </form>
</div>

<h1 id="join">REJOINS NOUS !!!</h1>
<img src="assets/images/mario-kart.gif" alt="Gif loop" width="35%" />

<!-- <td>
      <img src="assets/images/RL.gif" alt="Gif loop" width="30%" />
    </td>
    <td> -->
