img {
  display: flex;
  justify-content: center;
  float: left;
  margin-inline-start: 420px;
  margin-top: 0px;
  border: none;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}
h1 {
  display: flex;
  justify-content: center;
}

#join {
  display: flex;
  font-family: "Impact";
  justify-content: center;
  font-style: bold;
}
