<p>tournoi works!</p>

<table class="table">
  <tr>
    <th>idTournoi</th>
    <th>nom</th>
    <th>dateDeCreation</th>
    <th>dateDeDebut</th>
    <th>jeu</th>
  </tr>
  <tr *ngFor="let t of tournoisObservable | async">
    <td>{{ t.idTournoi }}</td>
    <td>{{ t.nom }}</td>
    <td>{{ t.dateDeCreation }}</td>
    <td>{{ t.dateDeDebut }}</td>
    <td>{{ t.jeu }}</td>
    <!--<td>{{ t.listeInscriptions }}</td>-->
    <td>{{ t.nbParticipantsParMatch }}</td>
    <td>{{ t.nbParticipantsTotal }}</td>
    <!--<td>{{ t.organisateur }}</td>-->
  </tr>
</table>
