<p>tournoi works!</p>

<table class="table">
  <tr>
    <th>type</th>
    <th>idTournoi</th>
    <th>nom</th>
    <th>dateDeCreation</th>
    <th>dateDeDebut</th>
    <th>jeu</th>
  </tr>
  <tr *ngFor="let t of tournoisObservable | async">
    <td>{{ t.type }}</td>
    <td>{{ t.idTournoi }}</td>
    <td>{{ t.nom }}</td>
    <td>{{ t.dateDeCreation }}</td>
    <td>{{ t.dateDeDebut }}</td>
    <td>{{ t.jeu }}</td>
    <!--<td>{{ t.listeInscriptions }}</td>-->
    <td>{{ t.nbParticipantsParMatch }}</td>
    <td>{{ t.nbParticipantsTotal }}</td>
    <!--<td>{{ t.organisateur }}</td>-->
    <td>
      <div *ngIf="t.type == 'ligue'">
        <a
          [routerLink]="['/tournoi', 'edit', t.idTournoi]"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >editer</a
        >
      </div>
      <div *ngIf="t.type == 'championnat'">
        <a
          [routerLink]="['/championnat', 'edit', t.idTournoi]"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >editer</a
        >
      </div>
    </td>
    <td>
      <button (click)="delete(t.idTournoi!)" class="btn btn-outline-danger">
        supprimer
      </button>
    </td>
  </tr>
</table>
<div class="btn-group" role="group">
  <button
    id="createNewTournoi"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Créer un nouveau tournoi
  </button>
  <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
    <li value="ligue">
      <a
        class="dropdown-item"
        routerLink="/ligue/edit"
        routerLinkActive="active"
        >Ligue</a
      >
    </li>
    <li value="championnat">
      <a
        class="dropdown-item"
        [routerLink]="['/championnat/edit']"
        routerLinkActive="active"
        >Championnat</a
      >
    </li>
  </ul>
</div>
