
main{
  background-image: url("../assets/img/resized/banniere.webp");
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  margin: 2px;
}

#card-login{
  width: 40%;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formulaire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


