
#content{
    display:flex;

}

#content-left{
    border: 1px solid blue;
    width:48%;
    height:98%;
    margin-top:1%;
    margin-left:1%;
    display:flex;
    flex-direction: column;
}

#content-right{
    border: 1px solid lightblue;
    width:48%;
    height:98%;
    color:white;
    margin-top:1%;
    margin-left:2%;
    display:flex;
}

#description{
    text-align:center;
    margin: 2%;
    border: 1px solid lightblue;
    color:white;
}

#tournement
{
    display:flex;
    height:30%;
}

#game-img{
    width:45%;
    margin: 5%;
}

#tournement-details{
    width:45%;
    margin: 5%;

}

#matchs
{
/*width:30%;
height:10%;
margin-top:22%;
margin-left:2%;
border: 1px solid lightblue;
color:white;
display:flex;
font-size :11px;
font-weight: bold;
justify-content:center;
align-items:flex-start;
text-align:center;
position : absolute;*/
}

#matchsbottom
{
/*width:30%;
height:50%;
margin-top:28%;
margin-left:2%;
border: 1px solid lightblue;
display:flex;
position : absolute;*/
}

#matchsbottomleft
{
/*border: 1px solid lightblue;
width:40%;
height:85%;
margin-top:5%;
margin-left:6%;
display:flex;*/

}

#matchsbottomright
{
/*border: 1px solid lightblue;
width:40%;
height:85%;
color:white;
margin-top:5%;
margin-left:7%;
display:flex;*/

}

#graphique
{
/*width:90%;
height:50%;
margin-top:20%;
margin-left:5%;
border: 1px solid lightblue;
color:white;
display:flex;
font-size :11px;
font-weight: bold;
justify-content:center;
align-items:flex-start;*/
}
