
main{
  background-image: url("MP10-Promo-Art-1200x520.jpg");
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-login{
  width: 40%;
}

#formulaire-comptes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
