body {
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightblue;
}


main{
    margin-top: 1%;
    width: 60%;
}

h1{
    color:lightblue;
    display:flex;
    justify-content:center;
    font-weight: bold;
}

ul{
    list-style-type: none;
}