
#content{
    display:flex;
}

#content-left{
    padding: 1%;
    border: 1px solid blue;
    width:48%;
    height:98%;
    margin-top:1%;
    margin-left:1%;
    display:flex;
    flex-direction: column;
}

#description{
    text-align:center;
    border: 1px solid lightblue;
}

#tournement
{
    display:flex;
    height:30%;
}

#game-img{
    width:45%;
}

#tournement-details{
    width:45%;
    margin: 5%;

}

#next-matchs{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;

}

#next-matchs-list{
    width: 100%;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}

.match{
    width: 90%;
    height: 100px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    border: 1px solid red;
}

.nom-match{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    border: 1px solid violet;
}

.btn-match{
    border: 1px solid violet;

}

/*FIN COLONNE GAUCHE*/

#content-right{
    border: 1px solid blue;
    width:48%;
    height:98%;
    margin-top:1%;
    margin-left:1%;
    display:flex;
    flex-direction: column;
    padding: 1%;
}

#graphique{
    width:90%;
    height:500px;
}
