<div class="card bg-dark">
  <div class="card-header">
    <h2>{{ ligue.nom }}</h2>
  </div>
  <div class="card-body">
    <ng-container>
      <div class="row">
        <div class="col">
          <app-ligue-description [ligue]="ligue"></app-ligue-description>
          <app-ligue-matchs-next [ligue]="ligue"></app-ligue-matchs-next>
        </div>
        <div class="col">
          <app-ligue-journees [ligue]="ligue"></app-ligue-journees>
          <app-ligue-inscription [ligue]="ligue"></app-ligue-inscription>
        </div>
      </div>
    </ng-container>
  </div>
</div>
