<div class="card bg-dark">
  <div class="card-header">
    <h3>{{ champ.type | uppercase }} {{ champ.jeu }}</h3>
  </div>
  <div class="card-body">
    <ng-container>
      <div class="row">
        <div class="col-3">
          <img
            src="assets/images/mariokart.webp"
            alt="Image Mario Kart Switch"
            width="100%"
          />
        </div>
        <div class="col-9">
          <div class="card bg-dark">
            <div class="card-header">
              <h4>Description</h4>
            </div>
            <div class="card-body">
              <table class="table">
                <tr>
                  <td>Effectif :</td>
                  <td>{{ champ.nbParticipantsTotal }}</td>
                </tr>
                <tr>
                  <td>Date de création :</td>
                  <td>
                    {{ champ.dateDeCreation | date: "EEEE dd MMMM YYYY" }}
                  </td>
                </tr>
                <tr>
                  <td>Date de début :</td>
                  <td>
                    {{ champ.dateDeDebut | date: "EEEE dd MMMM YYYY" }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
