<div class="card bg-dark text-white">
  <div class="card-header">
    <h3>
      Détails de la journee n° {{ journee.numero }} du tournoi
      {{ journee.tournoi!.nom }}
    </h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>ID Tournoi</th>
        <th>Type Tournoi</th>
        <th>Etape</th>
        <th>Numero</th>
      </tr>
      <tr>
        <td>{{ journee.id }}</td>
        <td>{{ journee.tournoi?.idTournoi }}</td>
        <td>{{ journee.tournoi?.type }}</td>
        <td>{{ journee.etape }}</td>
        <td>{{ journee.numero }}</td>
        <td>
          <div>
            <a
              [routerLink]="['/journee', 'edit', journee.id]"
              routerLinkActive="active"
              class="btn btn-outline-primary"
            >
              edit
            </a>
          </div>
        </td>
      </tr>
    </table>
    <table *ngFor="let m of journee.matchsAJouerPourJournee">
      <tr>
        <th>Match {{ m?.id }}</th>
        <th>Participants</th>
        <th>Scores</th>
      </tr>
      <tr *ngFor="let i of m.inscriptions">
        <td>{{ i.id?.joueur?.username }}</td>
        <td>id : {{ i.id?.joueur?.id }}</td>
      </tr>
    </table>
  </div>
  <div>
    <a
      routerLink="/journee"
      routerLinkActive="active"
      class="btn btn-outline-warning"
    >
      retour
    </a>
  </div>
</div>
