<div>
  <div class="form-group">
    <label>ID Joueur :</label>
    <input
      *ngIf="!creation"
      class="form-control"
      [(ngModel)]="utilisateur!.id"
      readonly
    />
    <input
      *ngIf="creation"
      class="form-control"
      [(ngModel)]="utilisateur!.id"
    />
  </div>
  <div class="form-group">
    <label>ID Tournoi :</label>
    <input
      *ngIf="!creation"
      class="form-control"
      [(ngModel)]="tournoi!.idTournoi"
      readonly
    />
    <input
      *ngIf="creation"
      class="form-control"
      [(ngModel)]="tournoi!.idTournoi"
    />
  </div>
  <ng-container *ngIf="!creation">
    <div class="form-group">
      <label>Position joueur :</label>
      <input class="form-control" [(ngModel)]="inscription.position" />
    </div>
    <div class="form-group">
      <label>Score global :</label>
      <input class="form-control" [(ngModel)]="inscription.score" />
    </div>
  </ng-container>
  <div>
    <button (click)="save()" class="btn btn-outline-success">
      enregistrer
    </button>
    <a
      routerLink="/inscription"
      routerLinkActive="active"
      class="btn btn-warning"
      >Annuler</a
    >
  </div>
</div>
