<div class="card bg-dark">
  <div class="card-header">
    <h2>{{ champ.nom }}</h2>
  </div>
  <div class="card-body">
    <ng-container>
      <div class="row">
        <div class="col">
          <app-champ-description [champ]="champ"></app-champ-description>
          <!-- <app-champ-matchs-next [champ]="champ"></app-champ-matchs-next> -->
        </div>
        <div class="col">
          <app-champ-arbre-finales [champ]="champ"></app-champ-arbre-finales>
          <app-champ-poules [champ]="champ"></app-champ-poules>
        </div>
      </div>
    </ng-container>
  </div>
</div>
