/* html {
  background-color: black;
} */
body {
  background-color: #1f1f1f;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  color: lightblue;
}

a,
h1,
p,
th,
tr {
  color: lightblue;
}
