<div class="card bg-dark text-white">
  <div class="card-header">
    <h3>Membres de la communauté</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Mail</th>
        <th>Role</th>
      </tr>
      <tr *ngFor="let user of uObservable | async">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.mail }}</td>
        <td>{{ user.roles }}</td>
        <td> <a
          [routerLink]="['/utilisateur','edit', user.id]"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >editer</a>
        </td>
      </tr>
    </table>
  </div>
</div>
