.cachecache {
  display: none;
}
.serachBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#voirAllMatchs {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
