<div class="card bg-dark text-white">
  <div class="card-header">
    <h3>Liste des matchs</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>ID Tournoi</th>
        <th>ID Journee</th>
        <th>ID Match</th>
        <th>Joueur 1</th>
        <th>Joueur 2</th>
        <th>Score J1</th>
        <th>Score J2</th>
      </tr>
      <tr *ngFor="let m of matchObservable | async">
        <td>{{ m.journee?.tournoi?.idTournoi }}</td>
        <td>{{ m.journee?.id }}</td>
        <td>{{ m.id }}</td>
        <div
          class="cachecache"
          *ngIf="
            m.resultats![0] != undefined || m.resultats![0] != null;
            else pas_resultat
          "
        >
          cachecache
        </div>
        <ng-template #pas_resultat>
          <td *ngFor="let p of m.inscriptions">
            {{ p?.id?.joueur?.username }}
          </td>
        </ng-template>
        <div
          *ngIf="
            m.resultats![0] == undefined || m.resultats![0] == null;
            else resultat
          "
        ></div>
        <ng-template #resultat>
          <td *ngFor="let r of m.resultats">
            <div>{{ r.participant?.id?.joueur?.username }}</div>
          </td>
          <td *ngFor="let r of m.resultats">
            <div>{{ r?.scoreMatch }}</div>
          </td>
        </ng-template>
        <td></td>

        <td colspan="2">
          <div style.display="flex" style.justify-content="flex-start">
            <a
              *ngIf="
                m.resultats![0] == undefined || m.resultats![0] == null;
                else gogo
              "
              [routerLink]="['/match', 'resultat', m.id]"
              routerLinkActive="active"
              class="btn btn-outline-primary"
              style.display="flex"
            >
              enregistrer le résultat
            </a>

            <ng-template #gogo>
              <a
                [routerLink]="[
                  '/match',
                  'resultat',
                  m.id,
                  (m?.resultats)![0].id!,
                  (m?.resultats)![1].id!
                ]"
                routerLinkActive="active"
                class="btn btn-outline-primary"
                style.display="flex"
              >
                modifier le résultat
              </a>
            </ng-template>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
