<div>
  <div class="form-group">
    <label>idTournoi:</label>
    <input class="form-control" [(ngModel)]="tournoi.idTournoi" readonly />
  </div>
  <div class="form-group">
    <label>nom:</label>
    <input class="form-control" [(ngModel)]="tournoi.nom" />
  </div>
  <div class="form-group">
    <label>dateDeCreation:</label>
    <input
      type="date"
      class="form-control"
      [(ngModel)]="tournoi.dateDeCreation"
    />
  </div>
  <div class="form-group">
    <label>dateDeDebut:</label>
    <input type="date" class="form-control" [(ngModel)]="tournoi.dateDeDebut" />
  </div>
  <div class="form-group">
    <label>jeu:</label>
    <input class="form-control" [(ngModel)]="tournoi.jeu" />
  </div>
  <div>
    <button (click)="save()" class="btn btn-outline-success">
      enregistrer
    </button>
    <a routerLink="/tournoi" routerLinkActive="active" btn-warning>annuler</a>
  </div>
</div>
