<div class="card bg-dark text-white">
  <div class="card-header">
    <h3>Liste des journees</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>ID Tournoi</th>
        <th>Type Tournoi</th>
        <th>Etape</th>
        <th>Numero</th>
        <th>Match</th>
      </tr>
      <tr *ngFor="let j of journeesObservable | async">
        <td>{{ j.id }}</td>
        <td>{{ j.tournoi?.idTournoi }}</td>
        <td>{{ j.tournoi?.type }}</td>
        <td>{{ j.etape }}</td>
        <td>{{ j.numero }}</td>
        <td>{{ j.matchsAJouerPourJournee }}</td>
        <td>
          <div>
            <button (click)="delete(j.id!)" class="btn btn-outline-danger">
              supprimer
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
