<div class="card bg-dark">
  <div class="card-header">
    <h2>{{ tournoi.nom }}</h2>
  </div>
  <div class="card-body">
    <ng-container>
      <div class="row">
        <div class="col">
          <app-description></app-description>
          <app-matchs-next></app-matchs-next>
        </div>
        <div class="col">
          <app-arbre-finales
            *ngIf="tournoi.type == 'championnat'"
          ></app-arbre-finales>
          <app-poules *ngIf="tournoi.type == 'championnat'"></app-poules>
          <app-journee *ngIf="tournoi.type == 'ligue'"></app-journee>
        </div>
      </div>
    </ng-container>
  </div>
</div>
