<nav>
  <a routerLink="/accueil" routerLinkActive="active" class="btn btn-link"
    >accueil</a
  >
  <a
    *ngIf="!authenticated"
    routerLink="/signup"
    routerLinkActive="active"
    class="btn btn-link"
    >creer un compte</a
  >
  <a
    *ngIf="!authenticated"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >login</a
  >
  <a
    *ngIf="authenticated"
    routerLink="/tournoi"
    routerLinkActive="active"
    class="btn btn-link"
    >tournoi</a
  >

  <a
  *ngIf="authenticated"
  routerLink="/utilisateur"
  routerLinkActive="active"
  class="btn btn-link"
  >Utilisateur</a
>

  <a *ngIf="authenticated" class="btn btn-link" (click)="logout()"
    >deconnexion</a
  >
</nav>
<router-outlet></router-outlet>
