<nav>
  <a routerLink="/accueil" routerLinkActive="active" class="btn btn-link"
    >Accueil</a
  >
  <a
    *ngIf="!authenticated"
    routerLink="/signup"
    routerLinkActive="active"
    class="btn btn-link"
    >Créer un compte</a
  >
  <a
    *ngIf="!authenticated"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >Se connecter</a
  >
  <a
    *ngIf="authenticated"
    routerLink="/tournoi"
    routerLinkActive="active"
    class="btn btn-link"
    >Tournois</a
  >

  <a
    *ngIf="authenticated"
    routerLink="/resultat"
    routerLinkActive="active"
    class="btn btn-link"
    >Resultats</a
  >

  <a
    *ngIf="authenticated"
    routerLink="/utilisateur"
    routerLinkActive="active"
    class="btn btn-link"
    >Utilisateurs</a
  >

  <a *ngIf="authenticated" routerLink="/inscription" class="btn btn-link"
    >Inscriptions</a
  >

  <a *ngIf="authenticated" class="btn btn-link" (click)="logout()"
    >Deconnexion</a
  >
</nav>
<router-outlet></router-outlet>
