<div class="card bg-dark text-white">
  <div class="card-header">
    <h3>Liste des tournois</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Type de tournoi</th>
        <th>Nom</th>
        <th>Jeu</th>
        <th>Etat des inscriptions</th>
      </tr>
      <ng-container *ngFor="let t of tournoisObservable | async">
        <tr *ngIf="t.type !== 'Poule'">
          <td>{{ t.idTournoi }}</td>
          <td>{{ t.type }}</td>
          <td>{{ t.nom }}</td>
          <td>{{ t.jeu }}</td>
          <td>{{ t.statutInscriptions }}</td>
          <td></td>
          <td></td>
          <td>
            <a
              [routerLink]="['/tournoi', 'details', t.idTournoi]"
              routerLinkActive="active"
              class="btn btn-outline-primary"
              >Details</a
            >
          </td>
          <td>
            <div>
              <a
                [routerLink]="['/ligue', 'classement', t.idTournoi]"
                routerLinkActive="active"
                class="btn btn-outline-success"
                >classement</a
              >
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
    <div class="btn-group" role="group">
      <button
        id="createNewTournoi"
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Créer un nouveau tournoi
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li value="ligue">
          <a
            class="dropdown-item"
            routerLink="/ligue/edit"
            routerLinkActive="active"
            >Ligue</a
          >
        </li>
        <li value="championnat">
          <a
            class="dropdown-item"
            [routerLink]="['/championnat/edit']"
            routerLinkActive="active"
            >Championnat</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
